.Person {
  background-color: #eee;
  width: 60%;
  margin: 10px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #bbb;
  padding: 16px;
  text-align: center;
}

.Person input {
  background-color: lightblue;
}

.Person p span {
  color: darkmagenta;
  font-weight: bold;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
